@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,400;1,700&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

header {
  background-image: url(/Html/htmlProjects/acdoms/images/Library-Vlad-Gerasimo.webp);
  background-size: cover;
  background-color: #59412daa;
  background-blend-mode: multiply;
}
#nav-bar {
  position: fixed;
  top: 0;
  margin: 0;
  width: 100%;
  background-color: #8c322a;
}
#header-img {
  margin-left: 3em;
  max-height: 3.5em;
  width: auto;
}
#nav-bar ul {
  position: fixed;
  top: 0.2em;
  right: 3em;
  text-align: right;
  margin-left: 10px;
  width: 100%;
}

#nav-bar li {
  font-size: 1.2em;
  font-family: "Ubuntu", sans-serif;
  display: inline;
  list-style: none;
  margin: 0em 1.5em 0em 1.5em;
}
#nav-bar a {
  text-decoration: none;
  color: #ffe9da;
  cursor: pointer;
}
#nav-bar a:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
@media (max-width: 915px) {
  #header-img {
    width: 25em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25em;
    height: auto;
  }
  #nav-bar ul {
    position: relative;
    text-align: center;
    font-size: 0.85em;
  }
}
main {
  background-color: #090703;
}
.quote-container {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote-animation {
  font-family: "Kanit", sans-serif;
  color: #ffe9da;
  width: 42ch;
  animation: typing 3.5s steps(60), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 1.7em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@media (max-width: 750px) {
  .quote-animation {
    font-size: 1.3em;
  }
}
@media (max-width: 500px) {
  .quote-container {
    height: 40vh;
  }
  .quote-animation {
    font-size: 0.7em;
  }
}
.features-container {
  width: 100%;
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-content: center;
}
/* .features containes each image and it's text (see html)*/
.features {
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
  background-color: #8c322a;
  color: #ffe9da;
  width: 23em;
}
.icon-container {
  align-self: center;
  padding: 0.7em;
  background-color: #ffe9da;
  border-radius: 50%;
}
.icon {
  width: 3.5em;
}
.features-text h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2em;
}
.features-text p {
  font-family: "Mukta", sans-serif;
  font-size: 1em;
}
@media (max-width: 900px) {
  .features-container {
    flex-wrap: wrap;
  }
  .features {
    margin-bottom: 0.5em;
  }
}
@media (max-width: 550px) {
  .features-container {
    flex-direction: column;
  }
}
.books-h2 {
  font-family: "Ubuntu", sans-serif;
  color: #ffe9da;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffe9da;
  width: 80%;
  margin-left: 6em;
}
.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 90%;
  margin: 4.7em;
}
.book {
  margin: 4px;
}
.book-image {
  width: 13em;
}
footer {
  background-color: #260101;
  height: 17rem;
}

.email-section {
  float: left;
  margin-left: 6em;
}
.email-section h2 {
  color: #ffe9da;
  font-family: "Ubuntu", sans-serif;
  font-style: italic;
}
.email-section p {
  color: #ffe9da;
  font-family: "Ubuntu", sans-serif;
  font-style: oblique;
  font-size: 1.1em;
}
.email-section form {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
}
.email-section input {
  height: 3em;
  width: 20em;
  font-size: 0.9em;
  margin: .3em;
  text-align: center;
  border-radius: 25px;
  border: 0;
  box-sizing: border-box;
}
.email-section #submit {
  color: #260101;
  background-color: #ffe9da;
  width: 10em;
  border-radius: 25px;
  border: 2;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 25px;
  border: 0;
  box-sizing: border-box;
}


.acdoms-info {
  float: right;
  margin-right: 6em;
}
.acdoms-info h2 {
  color: #ffe9da;
  font-family: "Ubuntu", sans-serif;
  font-style: italic;
}
.acdoms-info p {
  color: #ffe9da;
  font-family: "Ubuntu", sans-serif;
  font-style: oblique;
  font-size: 1.1em;
}
.social-icon {
  width: 2.5em;
  margin: 5px;
}
@media (max-width: 950px) {
  footer {
    height: 100vh;
  }
  .acdoms-info {
    float: left;
    margin-left: 6em;
  }
}
